.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	fill: currentColor;
}

.icon-basketball {
	font-size:(391.07/10)*1rem;
	width:(390.88/391.07)*1em;
}
.icon-check {
	font-size:(87.39/10)*1rem;
	width:(82.73/87.39)*1em;
}
.icon-chess {
	font-size:(479.82/10)*1rem;
	width:(370.98/479.82)*1em;
}
.icon-chevron-left {
	font-size:(63.82/10)*1rem;
	width:(37.57/63.82)*1em;
}
.icon-envilope {
	font-size:(416.87/10)*1rem;
	width:(500/416.87)*1em;
}
.icon-fb {
	font-size:(72/10)*1rem;
	width:(72/72)*1em;
}
.icon-fitness {
	font-size:(49.49/10)*1rem;
	width:(36.52/49.49)*1em;
}
.icon-football {
	font-size:(480/10)*1rem;
	width:(480/480)*1em;
}
.icon-hockey {
	font-size:(500/10)*1rem;
	width:(491.59/500)*1em;
}
.icon-home {
	font-size:(39.82/10)*1rem;
	width:(41.13/39.82)*1em;
}
.icon-inner {
	font-size:(500/10)*1rem;
	width:(375/500)*1em;
}
.icon-instagram {
	font-size:(135.25/10)*1rem;
	width:(135.25/135.25)*1em;
}
.icon-mark {
	font-size:(330.48/10)*1rem;
	width:(238.88/330.48)*1em;
}
.icon-tel {
	font-size:(45.18/10)*1rem;
	width:(45.28/45.18)*1em;
}
.icon-vk {
	font-size:(71.43/10)*1rem;
	width:(125.18/71.43)*1em;
}
.icon-volleyball {
	font-size:(499.94/10)*1rem;
	width:(500/499.94)*1em;
}
.icon-whatsapp {
	font-size:(500/10)*1rem;
	width:(500/500)*1em;
}
