mixin s-artical-head()
	// start s-artical-head
	+b.s-artical-head.block-with-lazy
		.row
			.col-sm-4
				+slider-trener()
			.col
				p Безусловным преимуществам наших школ является великолепный тренерский состав. Наши тренеры прошли строгий профессиональный отбор и, несмотря на свою молодость, имеют богатый опыт работы детьми.

				p Их профессионализм подтвержден соответствующими лицензиями и дипломами о специальном педагогическом образовании.

				p Они являются выпускниками ведущих футбольных школ и имеют солидный опыт выступлений на профессиональном уровне.

				p Отличное физическое состояние позволяет тренерам напрямую участвовать в тренировочном процессе, не ограничиваясь теорией.
	// end s-artical-head