.modal-win {
	display: block;
	position: relative;
	box-shadow: 0 0 rem(27px) rem(2px) rgba(0, 0, 0, 0.5);
	border-radius: rem(6px);
	background-color: #ffffff;
	max-width: rem(825);
	margin-left: auto;
	margin-right: auto;
	.form-wrap{
		&__btn{
			margin-left: auto;
			margin-right: auto;
			width: rem(255);
			@extend .btn-block;
			margin-bottom: rem(10);
		}
	}
	.modal-content {
		// max-width: 485px;
		// padding-right: 40px 15px;
	}
	.mfp-close { 
		@extend .btn;
		@extend .btn-primary;
		padding: 0;
		width: rem(36);
		height: rem(36);
		font-size: rem(40);
		opacity: 1;
		line-height: 1;
		top: rem(25);
		right: rem(30);
	}   
}

a {
	outline: 0 !important;
}

.modal-form {
	position: relative;
}

#foot-dialog {
	h3 {
		font-size: em(36);
	}
}
 

@include media-breakpoint-up(sm) { 
	.modal-text {
		max-width: 1000px;
	}
}

.polite {
	.link {
		color: $primary;
		cursor: pointer;
		text-decoration: underline;
		:hover {
			display: none;
		}
	}
}


// 
@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(xs) {}

// 
@include media-breakpoint-between(md, xl) {}

// 
@include media-breakpoint-only(xs) {}

@include media-breakpoint-only(sm) {}

@include media-breakpoint-only(md) {}

@include media-breakpoint-only(lg) {}

@include media-breakpoint-only(xl) {}

// 
@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}

@include media-breakpoint-down(xs) {}