mixin s-news()
	// start s-news
	+b.s-news.block-with-lazy#s-news&attributes(attributes)
		- for (var x = 0; x < 4; x++)
			+e.item.bd-bottom
				.fw-500.text-gray 10.03.2018
				+e.title
					a(href="#") Академия Гефест была основана в 2018 году.
				.clearfix
					+e.img-wrap--sm.img-bg(href="#")
						img.lazy-bg(src="#" data-src="img/news.jpg", alt="")
					p Количество жилых комплексов в Подмосковье растет год от года, количество жителей увеличивается, и важность улучшения среды для проживания с каждым годом становится значимей.

					p Футбол является самым популярным видом спорта в нашей стране, поэтому мы решили начать с открытия футбольных секций в шаговой доступности от жилых комплексов на базе школ и детских садов. Очень важной составляющей для работы Академии является наличие хороших тренеров.
				+e.foot
					a(href="#").strong Подробнее »
			// /+e.item
			
		+e.item.bd-bottom
			.fw-500.text-gray 10.03.2018
			+e.title
				a(href="#") Академия Гефест была основана в 2018 году.
			.clearfix
				 
				p Количество жилых комплексов в Подмосковье растет год от года, количество жителей увеличивается, и важность улучшения среды для проживания с каждым годом становится значимей.

				p Футбол является самым популярным видом спорта в нашей стране, поэтому мы решили начать с открытия футбольных секций в шаговой доступности от жилых комплексов на базе школ и детских садов. Очень важной составляющей для работы Академии является наличие хороших тренеров.
			+e.foot
				a(href="#").strong Подробнее »
		// /+e.item
		+pugin()

	// end s-news

mixin s-news-in()
	// start s-news
	+b.s-news.block-with-lazy#s-news&attributes(attributes)  
		.clearfix
			+e.img-wrap--lg.img-bg(href="#")
				img.lazy-bg(src="#" data-src="img/news.jpg", alt="")
			p Идея создания Академии пришла к одному из руководителей ГК Гефест Вакуленко Дмитрию, который многие годы работает на рынке строительства жилья в Подмосковье. Количество жилых комплексов в Подмосковье растет год от года, количество жителей увеличивается, и важность улучшения среды для проживания с каждым годом становится значимей.

			p Футбол является самым популярным видом спорта в нашей стране, поэтому мы решили начать с открытия футбольных секций в шаговой доступности от жилых комплексов на базе школ и детских садов.

			p Идея создания Академии пришла к одному из руководителей ГК Гефест Вакуленко Дмитрию, который многие годы работает на рынке строительства жилья в Подмосковье. Количество жилых комплексов в Подмосковье растет год от года, количество жителей увеличивается, и важность улучшения среды для проживания с каждым годом становится значимей.

			p Футбол является самым популярным видом спорта в нашей стране, поэтому мы решили начать с открытия футбольных секций в шаговой доступности от жилых комплексов на базе школ и детских садов.

			p Идея создания Академии пришла к одному из руководителей ГК Гефест Вакуленко Дмитрию, который многие годы работает на рынке строительства жилья в Подмосковье. Количество жилых комплексов в Подмосковье растет год от года, количество жителей увеличивается, и важность улучшения среды для проживания с каждым годом становится значимей.

			p Футбол является самым популярным видом спорта в нашей стране, поэтому мы решили начать с открытия футбольных секций в шаговой доступности от жилых комплексов на базе школ и детских садов.
		// /+e.item
		


	// end s-news

