mixin s-schools-head()
	// start s-schools-head
	+b.s-schools-head.block-with-lazy#s-schools-head&attributes(attributes)
		+icons2()
		.row
			.col-sm-6
				+school-sl()
			.col
				+e.caption.bd-bottom
					p Идея создания Академии пришла к одному из руководителей ГК Гефест Вакуленко Дмитрию, который многие годы работает на рынке строительства жилья в Подмосковье. Количество жилых комплексов в Подмосковье растет год от года, количество жителей увеличивается, и важность улучшения среды для проживания с каждым годом становится значимей.

					p Идея создания Академии пришла к одному из руководителей ГК Гефест Вакуленко Дмитрию, который многие годы работает на рынке строительства жилья в Подмосковье.
					.row
						.col-6
							+e.btn(href="#") Расписание
						
						.col-6
							+e.btn(href="#") Контакты
	// end s-schools-head