extends layout/main.pug


include ../blocks/s-content/_s-content.pug
include ../blocks/s-contact/_s-contact.pug
include ../blocks/s-category/_s-category.pug
include ../blocks/s-menu/_s-menu.pug
include ../blocks/s-news/_s-news.pug

block title
	title Новости Академии

block pagecontent
	+mob-mnu()
	+header()
		+top-line()
		+top-nav()
	.container
		+b.page-head
			+breadcrumb("Главная  ","Новости")
			h1 Новости Академии
		+s-news

	+footer()

