mixin s-school()
	// start s-school
	+b.SECTION.s-school.section.block-with-lazy#s-school&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-school
				
			.row
	// end s-school