.top-nav {
	 
	top: 100%; 
	z-index: 20;
	padding-top: 3px;
	@include mt; 
	top: 0;
	left: 0;
	width: 100%;
	@extend .bd-bottom;

	// &.fixed {
	// 	width: 100vw;
	// 	bottom: auto;
	// 	margin-top: 0;
	// 	background-color: #fff;
	// }

	&__nav {
		text-align: center;
		list-style-type: none;
		display: flex;
		max-width: rem(1015px);
		margin-bottom: 0;
	}

	&__item {
	 flex-grow: 1;
		list-style-type: none;
		@extend .h2;
		margin-bottom: 0;
		position: relative;
 
	}

	&__link{
		display: block;
		padding-left: rem(10);
		padding-right: rem(10);
		padding-top: rem(9);
		padding-bottom: rem(19);
		position: relative;
		text-decoration: none !important;
			&::after{
				content: '/';
				position: absolute;
				right: 0;
				color: $primary;
			} 
		&::before{
			content: '';
			position: absolute;
			bottom: 0;
			@include a-cent(x);
			@include triangle(rem(18), $gray, up);
			@include mt;
			opacity: 0;
		}
		.icon{
			font-size: 100%;
		}
		&:hover,
		&--active{
			color: $gray;
		}
				&--active{
					&::before{

						opacity: 1;
					}
				}
	}

	&__item:first-child &__link{
		padding-left: 0;
		padding-right: 0;
		width: rem(28);
		margin-right: rem(35);
		// padding-top: rem(5);
	}
	&__item:first-child &__link,
	&__item:last-child &__link{ 
		&::after{
			display: none;
		}
	}

	// 
	@include media-breakpoint-up(xl) {}

	@include media-breakpoint-up(lg) {}

	@include media-breakpoint-up(md) {}

	@include media-breakpoint-up(sm) {
		padding-left: 0;
		padding-right: 0;
	}
	padding-left: rem(30);
	padding-right: rem(30);

	@include media-breakpoint-up(xs) {}

	// 
	@include media-breakpoint-between(md, xl) {}

	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-only(sm) {}

	@include media-breakpoint-only(md) {}

	@include media-breakpoint-only(lg) {}

	@include media-breakpoint-only(xl) {}

	// 
	@include media-breakpoint-down(xl) {}

	@include media-breakpoint-down(lg) {}

	@include media-breakpoint-down(md) {}

	@include media-breakpoint-down(sm) {}

	@include media-breakpoint-down(xs) {}
}
