mixin header-block()
	// start header-block
	+b.header-block#header-block 
		.row
			.col-sm-7
				+slider
			.col
				+form-wrap()(class="bg-pattern")
					+select('Выбрать город')
							
					+select('Выбрать вид спорта')
						
					+select('Выбрать школу')
					.row
						.col
							+in-ch()
								+e.SPAN.text Индивидуальные тренировки
						.col-auto
							+e.btn(type="submit") Подобрать
				.bd-bottom
					+soc()


	// end header-block