mixin s-category()
	// start s-category
	+b.SECTION.s-category.section.block-with-lazy#s-category&attributes(attributes)
		.container
			+b.section-title.text-center
				h2 s-category
				
			.row
	// end s-category